* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5fffd;
    color: #333;
}

header {
    background-color: #b8f2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo h1 {
    color: #2d6a63;
}

.logo span {
    color: #4fbfa8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #4fbfa8;
}

.hero {
    
    text-align: center;
    padding: 60px 20px;
    background-image: url("post6.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #4fbfa8;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.btn:hover {
    background-color: #3da592;
}

section {
    padding: 40px 50px;
}

section h2 {
    color: #80ebde;
    margin-bottom: 15px;
}

.servicos-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.servicos-cards article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1;
}

footer {
    background-color: #b8f2e6;
    text-align: center;
    padding: 30px;
}

.contato-info p {
    margin: 8px 0;
}

hr {
    border: none;
    height: 1px;
    background-color: #d0d0d0;
    margin: 20px 0;
}